@font-face {
    font-family: 'Altinn DIN';
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/altinn-din-master/generated/woff2/Altinn-DIN.woff2') format('woff2');
}

@font-face {
    font-family: 'Altinn DIN';
    font-weight: 700;
    font-style: normal;
    src: url('@/assets/fonts/altinn-din-master/generated/woff2/Altinn-DIN-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Altinn DIN Italic';
    font-weight: 400;
    font-style: italic;
    src: url('@/assets/fonts/altinn-din-master/generated/woff2/Altinn-DIN-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Altinn DIN Condensed';
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/altinn-din-master/generated/woff2/Altinn-DINCondensed.woff2') format('woff2');
}

@font-face {
    font-family: 'Altinn DIN Condensed';
    font-weight: 700;
    font-style: normal;
    src: url('@/assets/fonts/altinn-din-master/generated/woff2/Altinn-DINCondensed-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Altinn DIN Exp';
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/altinn-din-master/generated/woff2/Altinn-DINExp.woff2') format('woff2');
}

@font-face {
    font-family: 'Altinn DIN Exp';
    font-weight: 700;
    font-style: normal;
    src: url('@/assets/fonts/altinn-din-master/generated/woff2/Altinn-DINExp-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Altinn DIN Exp Italic';
    font-weight: 400;
    font-style: italic;
    src: url('@/assets/fonts/altinn-din-master/generated/woff2/Altinn-DINExp-Italic.woff2') format('woff2');
}
